
  img{
    height:50px;
    width:auto; 
    object-fit: cover;
  }

.nav-links ul{

  width:100%;
}

.nav-links{
  display: flex;
 width:100%;
 border-bottom: 1px solid;
 
}

.nav-links li{
  display: inline-flex;
  padding: 10px;
  color:rgb(71, 71, 71);
  height: 50px;
}
.nav-links li:hover{
  color: #177368;
}

.nav-links li.last:last-child{
  float:right;
  padding-right: 5%;
}









 