
  img{
    height:50px;
    width:auto; 
    object-fit: cover;
  }

.nav-links ul{

  width:100%;
}

.nav-links{
  display: flex;
 width:100%;
}

.nav-links li{
  display: inline-flex;
  padding: 10px;
  color:#E7DFDD;
  height: 50px;
}
.nav-links li:hover{
  color: #922cac;
}

.nav-links li.last:last-child{
  float:right;
  padding-right: 5%;
}









 