.table-elections{
    margin-top: 3%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width:100%;
    background-color : white;
  }
 
  .table-elections td, .table-elections th{ 
    padding: 8px;
  }
  
  .table-elections th{
    background-color: #9bc0bc;
    color:#282c34;
    text-align: center;
  }
  
  .table-elections tbody tr{ 
    border-bottom: 1px solid #177368;
  }
  
  .table-elections tbody tr:last-of-type{
    border-bottom: 2px solid #9bc0bc;
  }

  .election-name-pointer{
    cursor:pointer;
    background-color: rgb(71, 71, 71);
    text-decoration: underline;
    color:#177368;
  }
  
  .election-name-pointer:hover{
    display: inline-flex;
    color: #177368;
  }

 .election-link{
    color:#177368 ;
  }
  
  .second-col{
    text-align: left;
  }
  .second-cont{
    display: inline-block;
    padding-left: 40%;
  }
  .col{
    width:50%; 
  }
  .first-col{
    text-align:left;
  }
  .first-cont{
    display: inline-block;
    padding-left:45%;
  }

 
