.table-elections{
    margin-top: 3%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width:100%;
    background-color : white;
  }
  
  .table-elections td, .table-elections th{ 
    padding: 8px;
  }
  
  .table-elections th{
    background-color: #177368;
    color:#282c34;
    text-align: center;
  }
  
  .table-elections tbody tr{ 
    border-bottom: 1px solid rgb(71, 71, 71);
    background-color:rgb(27, 35, 43);
  }
  
  .table-elections tbody tr:last-of-type{
    border-bottom: 2px solid #177368;
  }

  .election-name-pointer{
    cursor:pointer;
    background-color: rgb(71, 71, 71);
    text-decoration: underline;
    color:#177368;
  }
  
  .election-name-pointer:hover{
    display: inline-flex;
    color: #177368;
  }

 .election-link{
    color:#177368 ;
  }