.footer{
    margin-top: 1vh;
    padding: 1rem;
    background: linear-gradient(   
      rgb(27, 35, 43) 0%,
      rgb(19, 25, 31) 100%
    );
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }