.home-text{
    padding-bottom: 5%;
  }

  .signin-admin-btn{
    display: block;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    width:200px;
    height:30px;
    
  }
  
  .signin-voter-btn{
    display: block;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    width:200px;
    height:30px;
  }