.App {
  text-align: center;
  color: rgb(24, 37, 49);
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*Style for NavBar  */

.nav-wrapper{
  display:flex;
  background-color: rgb(208, 221, 233);
}

.nav-links li{
  display: inline-flex;
  padding: 14px 16px;
  float:left;
  color:#cf5364
}
.nav-links li:hover{
  color: #772626;
}
.active{
  color: black;
  background-color: yellow;
}




/*Style for ElectionForm  */

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-content-left {
  background: linear-gradient(
    90deg,
    aliceblue 0%,
    rgb(187, 239, 240) 100%
  );
  border-radius: 10px 0 0 10px;

}
.choices-saved{
  list-style: none;
  display: inline;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}










