.ballot{

   
}

.ballot-wrapper{
   
}

.ballot-title{
    font-weight: bold;
    color: #177368;
    padding-bottom: 1%;
}

.checkbox-full{
   padding-bottom: 1%;
}

.checkbox-text{
    padding-bottom: 1%;
}

.checkbox-label{
    padding-left: 1%;
}

.checkbox-choice{
   
}